body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #f2f2f2; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header {
  display: flex;
  flex-direction: column; }

.main-nav {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white; }

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0px;
  padding: 0px; }

.site-list__item {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: white;
  background-color: #81b3d2;
  border-bottom: 2px solid #678fa8;
  padding: 5px 0;
  text-align: center; }

.site-list__logo {
  position: relative;
  order: 2;
  height: 50px; }
  .site-list__logo img {
    position: absolute;
    top: 0px;
    left: 108px; }

.page-header__image {
  background-image: url("../img/text-index.png"), url("../img/back-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85%, cover;
  height: 390px;
  width: 320px;
  margin: 0 auto; }

.page-header__slogan {
  width: 280px;
  margin: auto; }

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0; }
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 768px;
    margin: 0 auto; }
  .site-list__item {
    background-color: white;
    color: black;
    border-style: none; }
  .site-list__logo {
    order: 0; }
    .site-list__logo img {
      position: static; }
  .page-header__image {
    width: 100%;
    height: 520px;
    background-size: 500px auto, cover; } }

@media (min-width: 1200px) {
  .main-nav {
    width: 1200px;
    margin: 0 auto; }
  .main-nav__list {
    width: 100%;
    justify-content: space-around; }
  .page-header__image {
    width: 1200px;
    height: 520px;
    background-size: 500px auto, cover; } }

.page-main {
  display: flex;
  flex-direction: column; }

.photo {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px;
  box-sizing: border-box;
  color: black; }

.photo__container {
  text-transform: uppercase;
  text-align: center; }

.photo__promo {
  font-size: 18px;
  line-height: 26px;
  color: black; }

.photo__advantage {
  font-size: 14px;
  line-height: 26px;
  color: black; }

.photo__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0px;
  padding: 0px; }

.photo__item {
  border-bottom: 2px solid #e5e5e5;
  box-sizing: border-box; }

.photo__img {
  height: 280px; }

.photo__img--one {
  background-image: url("../img/photo-1-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo__img--two {
  background-image: url("../img/photo-2-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo__img--three {
  background-image: url("../img/photo-3-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo__img--four {
  background-image: url("../img/photo-bridge.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.photo__title,
.like {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  padding: 0px;
  margin: 0px; }

.like__number {
  padding: 0px;
  margin: 0px; }

.photo__author {
  font-size: 12px;
  line-height: 22px;
  color: #333333;
  padding: 0px;
  margin: 0px; }

.video {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box;
  color: black; }

.video__container {
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px; }

.video__promo {
  font-size: 18px;
  line-height: 26px;
  color: black; }

.video__advantage {
  font-size: 14px;
  line-height: 26px;
  color: black; }

.video__clip {
  height: 205px;
  background-image: url("../img/video-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

@media (min-width: 768px) {
  .photo {
    width: 100%;
    padding: 0 60px; }
  .photo__item--promo {
    width: 100%;
    margin: 0; }
  .photo__container {
    width: 500px;
    margin: 0 auto;
    text-align: center; }
  .photo__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto; }
  .photo__item {
    border-style: none;
    padding: 0px;
    margin: 0px; }
  .photo__item--one {
    width: 100%; }
  .photo__item--two,
  .photo__item--three,
  .photo__item--four {
    width: 324px;
    flex-grow: 1; }
  .photo__img--one {
    height: 400px; }
  .photo__contein {
    background-color: #f2f2f2; }
  .photo__contein--other {
    background-color: #eaeaea; }
  .video {
    width: 100%;
    padding: 0 60px; }
  .video__container {
    width: 470px;
    margin: 0 auto; }
  .video__clip {
    height: 510px;
    width: 648px;
    margin: 0 auto; } }

@media (min-width: 1200px) {
  .photo {
    width: 1200px;
    padding: 0; }
  .video {
    width: 1200px; }
  .video__clip {
    width: 800px;
    margin: 0 auto; } }

.page-footer {
  display: flex;
  flex-direction: column;
  color: black;
  text-transform: uppercase; }

.page-footer__contain {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: white; }

.page-footer__hash {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 20px; }

.page-footer__social {
  margin: 20px;
  display: flex; }

.page-footer__link {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #81b3d2;
  font-size: 0px;
  margin: 5px; }

.page-footer__link--t {
  background-image: url("../img/icon-twitter.png");
  background-repeat: no-repeat;
  background-position: center; }

.page-footer__link--f {
  background-image: url("../img/icon-facebook.png");
  background-repeat: no-repeat;
  background-position: center; }

.page-footer__link--y {
  background-image: url("../img/icon-youtube.png");
  background-repeat: no-repeat;
  background-position: center; }

.copyright {
  margin: 20px;
  display: flex; }

.copyright__title {
  font-size: 14px;
  line-height: 22px; }

.copyright__link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 22px;
  background-color: #81b3d2; }

@media (min-width: 768px) {
  .page-footer__contain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0; } }

@media (min-width: 1200px) {
  .page-footer__contain {
    width: 1200px;
    margin: 0 auto; } }
