.page-main {
	display: flex;
	flex-direction: column;	
}	

.reason {
	display: flex;
	flex-direction: column;	
	width: 320px;
	margin: 0 auto;	
	background-color: white;
}

.reason__item {
	text-transform: uppercase;
}

.reason__container {
		text-align: center;	
}
.reason__item--promo {
padding-top: 20px;
}

.reason__item--city{
	display: flex;
	flex-direction: column;
}

.reason__promo {
	font-size: 18px;
	line-height: 26px;
	color: black;
	margin: 20px 0;
}
.reason__advantage {
	font-size: 14px;
	line-height: 26px;
	color: black;
	margin: 25px 0;
}


.reason__contain-city {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $list-color;
	color: $color;

	min-height: 260px;
	box-sizing: border-box;
}

.reason__item--icons {
	color: black;
	padding: 20px;
}



.reason__title {
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
	padding:  10px 10px;
	text-align: center;
}
.reason__description {
	padding: 20px;
	text-align: center;
}

.reason__description,
.reason__number {
	font-size: 14px;
	line-height: 22px;
}

.reason__photo-city {
	background-image: url("../img/photo-city.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 260px;

}
.reason__icon-home {
	flex-shrink: 0;
	background-image: url("../img/icon-house.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px;
	width: 45px;
	height: 45px;
	margin-right: 15px;
}

.reason__icon-gift {
	flex-shrink: 0;
	background-image: url("../img/icon-gift.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 38px;
	width: 45px;
	height: 45px;
	margin-right: 15px;
}

.reason__icon-eat {
	flex-shrink: 0;
	background-image: url("../img/icon-burger.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px;
	width: 45px;
	height: 45px;
	margin-right: 15px;
}
.reason__contain-icons {
	display: flex;
	padding: 10px 0;
}
.reason__item--icons .reason__description {
	padding: 10px 0;
	text-align: left;
}
.reason__item--icons .reason__title {
	margin-top: 15px;
	text-align: left;
	padding: 0px;
}

.reason__contain-bridge {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $list-color;
	color: $color;
	min-height: 190px;
	box-sizing: border-box;
}

.reason__photo-bridge {
	background-image: url("../img/photo-bridge.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 260px;
}

.reason__item--other{
	display: flex;
	flex-direction: column;
	color: black;
	background-color: $bgcolor;

}

.reason__contain-other {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.reason__contain-other:not(:last-child) {
	border-bottom: 1px solid #d6d6d6;
}

.interested {
	display: flex;
	flex-direction: column;	

	width: 320px;
	margin: 0 auto;
	text-transform: uppercase;
	box-sizing: border-box;	
	color: black;
	background-color: white;
}

.interested__contain{
	display: flex;
	flex-direction: column;	
	padding:30px 30px;
}

.interested__question {
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	margin: 10px 0;
	text-align: center;
}

.interested__title {
	font-size: 14px;
	line-height: 22px;
	margin: 10px 0;
	text-align: center;
}

.button {
	align-self: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: $list-color;
	width: 280px;
	font-size: 20px;
	line-height: 28px;
	padding: 10px 0;
	border-style: none;
	margin: 10px 0;
	color:$color;
	text-decoration: none;
	text-align: center;

	&:hover {
		background-color: #669ec0;
	}
	&:active {
		background-color: #5496bd;
		opacity: 0.3;
	}
}

.reason__photo-map {
	background-image: url("../img/map.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 360px;
}

@media (min-width: $tablet-width){
	.reason{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	.reason__title {
		width: 150px;
	}

	.reason__item--promo{
		width: 100%;
		margin: 0 ;	
	}

	.reason__container {
		width: 500px;
		margin: 0 auto;
		text-align: center;	
	}
	
	.reason__contain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    }

	.reason__item--city{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		width: 100%;
		margin: 0;
	}

	.reason__contain-city{
		width: 33%;
		
	}

	.reason__photo-city {
		width: 320px;
		flex-grow: 1;
	}

	.reason__item--icons {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		min-height: 300px;
		margin: 0;
	}

	.reason__contain-icons {
		width: 33%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.reason__icon-home,
	.reason__icon-gift,
	.reason__icon-eat {
	background-size: 60px;
	width: 70px;
	height: 70px;
	background-position: 10px 0px;
	}

	.reason__item--icons .reason__description {
	padding: 20px 20px;
	text-align: center;
	}

	.reason__item--icons .reason__title {
		margin-top: 15px;
		text-align: center;
		padding: 0px;

	}


	.reason__item--bridge{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		width: 100%;
		margin: 0;
	}

	.reason__contain-bridge{
		width: 33%;
		order: 2;
	}
	.reason__photo-bridge {
		width: 320px;
		flex-grow: 1;
	}
	.reason__item--other{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		height: 250px;
		margin: 0;
	}	
	.reason__contain-other{
		width: 33%;
		border: none;
	}

	.reason__contain-other:not(:last-child) {
		border-bottom-style: none;
	}

	.interested{
		width: 100%;
	}

	.interested__contain{
		width: 450px;
		margin: 0 auto;
	}

	.button{
		width: 100%;
	}
}

@media (min-width: $desktop-width){
	.reason{
		width: 1200px;
	}

	.interested{
		width: 1200px;
	}
}


